/* CSS for jameSHIFT4 to jame$ transition */

.dollar {
  position: absolute;
  width: 0;
  height: 0;
}

.shift4,
.dollar {
  transition: opacity 0.75s ease;
}

.dollar,
.jame:hover .shift4 {
  opacity: 0;
}

.shift4,
.jame:hover .dollar {
  opacity: 1;
}

/* for fun :) */
.jame:active .dollar {
  color: gold;
}

/* 
HTML Code:
<span class="jame">jame<span class="dollar">$</span><span class="shift4">SHIFT4</span></span>
*/
