@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #333;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
}

a {
  color: aliceblue;
}

a:visited {
  color: lightgrey;
}

a:hover {
  color: #eee;
}

h1 {
  font-size: 2.5rem;
}

.blog-post-title,
.blog-error-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog-post-content,
.blog-error-content {
  margin-bottom: 20px;
}

.blog-error {
  text-align: center;
  font-size: 1.5rem;
}

.blog-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
