body {
  background-color: #333;
  color: whitesmoke;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
}

a {
  color: aliceblue;
}

a:visited {
  color: lightgrey;
}

a:hover {
  color: #eee;
}

/* Tooltip code */

/* .tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container .custom-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip-container:hover .custom-tooltip {
  visibility: visible;
} */
