html {
  font-size: 24px;
}

body {
  min-height: 100vh;
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 1rem;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: hsla(0, 0%, 20%, 0.8);
}

h1 {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}
